# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform plan files
*.tfplan

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash log files
crash.log

# Local Terraform directories
.terraform/
